div {
  box-sizing: border-box;
  text-transform: uppercase;
}

.responsive {
  background: #c2dec5;
  width: 80vw;
  height: 80vw;
  margin: 10px auto;
}

.mainSquare {
  height: 100%;
  // outline: 1px dashed #c2dec5;
  outline-offset: -13px;
}

.row {
  width: 100%;
  display: flex;
}

.top {
  height: 15.3%;
}

.center {
  height: 69.3%;
}

.vertical-square {
  outline: 1px solid black;
  flex-grow: 1;
  position: relative;
}

.corner-square {
  flex-grow: 2;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
  position: relative;
}

.center-square {
  flex-grow: 9;
  outline: 1px solid black;
}

.side-square {
  outline: 1px solid black;
  width: 100%;
  flex-grow: 1;
  position: relative;
}

.squareCorner {
  height: 65%;
  width: 65%;
  border: 2px solid black;
  right: -1px;
  top: -1px;
  position: absolute;
}

.firstLine {
  position: absolute;
  font-size: 0.7vw;
  font-weight: 500;
  line-height: 1vw;
  text-align: center;
  /* margin:0 5px; */
}

.firstLine-bottom {
  left: 2px;
  right: 2px;
  top: 30%;
}

.roll-dice-1 {
  padding: 7px;
  width: 10vw;
  margin-right: 12px;
}

.game-over {
  position: absolute;
  left: 21vw;
  top: 1vw;
}

.show-logs {
  padding: 7px;
  width: 10vw;
}

.show-logs:active,
.roll-dice-1:active {
  background-color: #00695c;
  color: white;
}

.center-square-container {
  position: absolute;
  width: 54vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 2rem;
}

.player-turn {
  position: relative;
  left: calc(100%);
  padding: 10px;
}

.balance-wrap{
  position: absolute;
    left: 0;
    top: 0;
}

.player-balance {
  font-size: 12px;
  position: relative;
  width: 10vw;
  left: 10px;
  top: 10px;
  color:black;
}

.player-balance-item {
  padding: 5px;
  margin: 5px 0px;
}

.dice-1 {
  margin-right: 10px;
}

.logs {
  min-height: 20vw;
  max-height: 45vw;
  padding: 10px;
  position: absolute;
  margin-top: 10vh;
  background-color: white;
  overflow: auto;
  color: black;
  top: 40px;
  left: 0;
  right: 10px;
  animation: topToBottom 300ms both ease;

  ul {
    list-style-type: none;
  }
}
.close-logs-btn{
  color: black;
  background-color: transparent;
  font-size: 30px;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  line-height: 1;

  &:focus , &:active{
    outline: none;
    background-color: transparent;
    color: black;
  }

}

@keyframes topToBottom {

  0%{
    transform: scale(0);
  }

  100%{
    transform: scale(1);
  }
  
}