.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #00695c;
    color: white;
    padding: 10px;
    animation-name: toastOpen;
    animation-duration: 300ms;
    animation-iteration-count: initial;
    z-index: 2;
}

@keyframes toastOpen {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}